@scope (.autocomplete-trigger) {
  :scope {
    --autocomplete-trigger-justify-content: space-between;
    --autocomplete-trigger-width: 100%;
  }
}

.autocomplete-trigger {
  justify-content: var(--autocomplete-trigger-justify-content);
  width: var(--autocomplete-trigger-width);
}
